/**************************************************************************************************
*   Header: Social Media List
**************************************************************************************************/
.m-navbar__socialMediaList {
	h6 {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: $color--white;
		margin: 0 0 10px;

		@media screen and (min-width: 720px) {
			display: none;
		}
	}

	ul {
		display: flex;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		flex-direction: row;
	}

	.m-navbar__socialMediaListItem {
		margin-right: $spacing;

		&:last-child {
			margin-right: 0;
		}
	}

	.m-navbar__socialMediaListItem a:after {
		color: $color--maroonFlush;

		@media screen and (min-width: 720px) {
			color: $color--grey;
		}
	}
}
