/**************************************************************************************************
*    Header: Bookmark
**************************************************************************************************/
.a-afnIcon.-bookmark {
	width: 17px;
	height: 17px;

	&.-filled path {
		fill: $color--white;
	}
}
