/**************************************************************************************************
*    Header: Hamburger Menu Button
**************************************************************************************************/
.a-hamburgerMenu__button button {
	padding: 0;
	background: none;
	border: none;
	outline: 0;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 0.5em 1em;
	margin: -1em;

	svg {
		left: 0;
		width: 28px;
		height: 20px;
		padding: $spacing--small 0;
		cursor: pointer;
		box-sizing: content-box;
		fill: $color--white;
	}
}
