/**************************************************************************************************
*   User Information
**************************************************************************************************/

#user-information-container {
	position: relative;
}

.afn .gigya-style-modern div.gigya-screen-dialog-main{
	border-radius: 18px;

	&:focus{
		border: none;
	}
}

.afn .gigya-style-modern.gigya-screen-dialog-mobile div.gigya-screen-dialog-inner.gigya-screen-dialog-inner-avatar {
	position: static;
	height: calc(100vh - 70px);
	margin-top: 0;
	overflow-y: auto;
	box-shadow: none;
}

html.gigya-mobile-modal-mode body.afn {
	height: 100vh;
}

.afn{

	.gigya-screen.portrait.o-gigya-account-avatar{
		width: 640px;
		padding-left: 10px;
		padding-right: 10px;

		@include bp('max-width', $breakpoint--mobileLarge) {
			width: auto;
		}
	}

	.gigya-screen.portrait.o-gigya-account-avatar .gigya-composite-control {
		display: inline-block;
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-label {
		font-family: 'Hurme Geometric Sans Regular', serif;
	}

	.gigya-screen.portrait.o-gigya-account-avatar .gigya-composite-control .gigya-image[data-background-size="fit"]{
		margin: 0 21px;

		@include bp('max-width', $breakpoint--mobileLarge) {
			width: 70px !important;
			margin: -14px 9px;
		}
	}

	.gigya-screen.portrait.o-gigya-account-avatar .gigya-composite-control .gigya-image-clicked:after{
		content: '';
		width: 30px;
		height: 30px;
		background-color: #53a451;
		background-image: url('../resources/images/common/check.svg');
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
		z-index: 999;
		position: absolute;
		padding: 3px;
		margin: 80px 0 0 80px;

		@include bp('max-width', $breakpoint--mobileLarge) {
			font-size: 18px;
			width: 25px;
			height: 25px;
			margin: 65px 0 0 50px;
			padding: 0 3px;
		}
	}

	.gigya-style-modern div.gigya-screen-dialog-caption.o-gigya-screen-dialog-caption{
		color: $color--blackAlt;
		padding: 0;
		font-size: 18px;
		font-weight: 700;
		font-family: 'Hurme Geometric Sans Regular', serif;

		@media screen and (min-width: 768px) {
			padding-top: 16px;
			font-size: 26px;
			font-weight: 600;
			line-height: 1.54;
			color: #4e515e;
		}

		@include bp('max-width', $breakpoint--mobileLarge) {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.78;
		}
	}

	.gigya-style-modern.gigya-screen-dialog-mobile.gigya-screen-dialog-mobile-avatar{
		position: fixed;
		display: block;
		top: unset !important;
		bottom: -100%;
		left: unset;
		width: unset;
		height: 100%;
		background-color: $color--white;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		box-shadow: 0px -6px 15px #00000033;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		overflow: hidden;
		z-index:10000;

		.gigya-screen-dialog-top {
			margin-top: 20px;

			@media screen and (min-width: 320px) and (max-width: 360px) {
				padding-left: 22px;
				padding-right: 22px;
			}
			@media screen and (min-width: 360px) and (max-width: 375px) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@media screen and (min-width: 375px) and (max-width: 411px) {
				padding-left: 25px;
				padding-right: 25px;
			}
			@media screen and (min-width: 411px) {
				padding-left: 24px;
				padding-right: 24px;
			}
		}

		#gigya-user-avatar-screen {
			overflow-y: scroll;
			box-sizing: border-box;
			padding: 20px 0 0 !important;
			@media screen and (min-width: 320px) and (max-width: 360px) {
				height: 215px;
			}
			@media screen and (min-width: 360px) and (max-width: 374px) {
				height: 270px;
			}
			@media screen and (min-width: 375px) and (max-width: 411px) {
				height: 260px;
			}
			@media screen and (max-width: 411px) {
				height: 296px;
			}
		}

		#gigya-profile-form {
			.gigya-composite-control {
				padding-bottom: 5px;
			}
			.gigya-image {
				@media screen and (min-width: 320px) and (max-width: 360px) {
					height: 84px !important;
					width: 57px !important;
				}
				@media screen and (min-width: 360px) and (max-width: 375px) {
					height: 96px !important;
					width: 68px !important;
				}
				@media screen and (min-width: 375px) and (max-width: 411px) {
					height: 97px !important;
					width: 70px !important;
				}
				@media screen and (min-width: 411px) and (max-width: 767px) {
					height: 108px !important;
					width: 80px !important;
				}
			}
		}

		.close-btn-avatar {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			//width: 24px;
			//height: 24px;

			@include bp('max-width', $breakpoint--mobileLarge) {
				position: relative;
				z-index: 1;
				padding: 1em;
				margin: -1.5em;
			}
		}
	}

	.gigya-style-modern.gigya-screen-dialog-mobile.gigya-screen-dialog-mobile-avatar-ios {
		position: fixed;
		display: none;
		top: unset !important;
		bottom: 0;
		left: unset;
		width: unset;
		height: 55%;
		background-color: $color--white;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		box-shadow: 0px -6px 15px #00000033;
		transition: bottom .3s cubic-bezier(0.645, 0.045, 0.355, 1);
		z-index:10000;

		.close-btn-avatar {
			@include bp('max-width', $breakpoint--mobileLarge) {
				position: relative;
				z-index: 1;
				padding: 1em;
				margin: -1.5em;
			}
		}
	}

	.gigya-style-modern.gigya-screen-dialog-mobile.screen-dialog-bottom,
	.gigya-screen-dialog.gigya-style-modern.screen-dialog-bottom-left {
		height: 50px !important;
		top: unset !important;
		bottom: 0 !important;
		left: 0 !important;
		
		.gigya-screen-dialog-main {
			margin: 0 !important;
			background-color: black !important;
			height: 50px !important;
			max-height: 50px !important;
			
			.gigya-screen-dialog-top {
				background-color: $color--black !important;
				padding: 0 !important;
				width: auto !important;
				position: absolute !important;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
			}

			.gigya-screen-dialog-inner {
				background-color: $color--black !important;
				height: 50px !important;
				max-height: 50px !important;
			}

			.gigya-layout-row {
				.gigya-layout-row {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.gigya-composite-control-label {
				padding-bottom: 0 !important;
				color: $color--white !important;
			}

			.o-gigya-success-dialog {
				padding: 0 !important;
			}
			
			.o-gigya-update-succes {
				padding: 0 !important;
				position: absolute;
				top: 50%;
				left: 15px;
				transform: translateY(-50%);
				color: $color--white !important;
			}
		}
	}

	.gigya-screen-dialog.gigya-style-modern.screen-dialog-bottom-left {
		width: 30%;
		height: 64px !important;
		top: unset !important;
		bottom: 30px !important;
		left: 30px !important;

		.gigya-screen-dialog-main {
			height: auto !important;
			max-height: unset !important;
			border-radius: 4px !important;

			.gigya-screen-dialog-top {
				right: 20px !important;
	
				.gigya-screen-dialog-close {
					margin: 0 !important;
					width: 20px !important;
					height: 20px !important;
				}
			}

			.gigya-screen-dialog-inner {
				overflow: hidden;
			}

			.gigya-screen-dialog-caption {
				display: none;
			}

			.gigya-composite-control-label {
				text-align: left !important;
				width: 300px;
			}
	
			.o-gigya-update-succes {
				left: 20px !important;
			}
		}

	}

	.snackbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		width:100%;
		position:absolute;
		bottom: 0;
		left: -112%;
		padding: 15px;
		background:$color--black;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		box-shadow: 0 16px 8px 0 rgba(28, 28, 28, 0.03), 0 12px 7.6px 0 rgba(28, 28, 28, 0.06), 0 8px 7px 0 rgba(28, 28, 28, 0.07), 0 4px 6.1px 0 rgba(28, 28, 28, 0.05);
		border-radius: 6px;

		.snackbar-msg {
			font-size: 13px;
			color:white;
		}

		.snackbar-close-btn {
			width: 18px;
			height: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			color:white;
		}
	}

	.new-snackbar-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		width: 100%;
		position: fixed;
		bottom: -70px;
		left: 0;
		padding: 15px;
		background: $color--black;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		box-shadow: 0px 3px 20px 5px #3e3e3ec4;
		&.swipeup { bottom: 0; }
		&.swipedown { bottom: -70px; }

		.snackbar-msg {
			font-size: 13px;
			color:white;
		}

		.snackbar-close-btn {
			width: 18px;
			height: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			color:white;
		}
	}

	.gigya-style-modern div.gigya-screen-dialog-top.o-gigya-screen-dialog-top{
		padding: 16px 32px  0;

		@include bp('max-width', $breakpoint--mobileLarge) {
			padding: 0 15px;
		}
	}
}

.user-information{
	.o-tab-panel .nav-tabs{
		padding: 0;
		display: block;
		text-align: center;

		.nav-item{
			display: inline-block;
		}
	}

	.o-tab-panel .nav-tabs .nav-item .nav-link a h3{
		font-size: 6px;
	}

	.o-tab-panel .nav-tabs .nav-link.active{
		background-color: $color--offWhite;
		padding: 0;
		margin-right: 40px;
	}

	.o-gigya-upload-button {
		.gigya-input-submit {
			border-radius: 50px;
			color: $color--maroonFlush;
			background-color: $color--white;
			border: 1px solid $color--maroonFlush;
			height: auto;
			width: auto;
			padding: 5px 20px;
			font-size: 16px;
			font-weight: bolder;

			@include bp('max-width', $breakpoint--mobileLarge) {
				height: auto;
				width: auto;
				padding: 6px 15px;
				font-size: 14px !important;
				margin-top: 10px;
			}

			&:hover {
				background: $color--maroonFlush;
				color: $color--white;
			}
		}
	}

	.o-gigya-update-button{
		.gigya-input-submit{
			border-radius: 50px;
			background-color: $color--maroonFlush;
			color: $color--white;
			width: auto;
			padding: 0 14px;
			font-size: 16px;

			@include bp('max-width', $breakpoint--mobileLarge){
				font-size: 14px;
			}

			&:hover, &:focus {
				background: $color--mandy;
			}
		}
	}

	.o-gigya-upload-footage{
		font-size: 14px;
		line-height: 1.86;
		padding-bottom: 5px !important;
		font-style: oblique;
		width: max-content;
		margin-left: -25px;

		@include bp('max-width', $breakpoint--mobileLarge) {
			width: auto;
			margin: 0;
		}
	}

	.o-gigya-subtitle{
		font-size: 18px;
		padding-bottom: 24px;
		margin-left: -8px;
	}

	.gigya-myPhoto-profile-box-wrapper .gigya-myPhoto-status-icon{
		z-index: 9;
	}

	.gigya-composite-control.gigya-composite-control-link.o-gigya-user-avatar{
		color: $color--maroonFlush !important;
		text-decoration: none;
		cursor: pointer;
		font-size: 16px;
		font-weight: 600;
		margin-left: 15px;
		width: auto !important;

		&:hover{
			color: $color--maroonFlush;
		}

		@include bp('max-width', $breakpoint--mobileLarge) {
			text-align: center;
			margin: 0 0 30px 0;
		}
	}

	.gigya-screen-caption{
		border-bottom: 0;
		font-size: 28px;
		width: 500px;
		margin: 0;
	}

	.gigya-screen.portrait{
		position: relative;
		padding-left: $spacing--medium + 3;
		padding-right: $spacing--medium + 3;
		background-color: $color--white;
		margin-top: $spacing--medium;
		width: 600px;

		&:last-child{
			margin-top: 0;
		}
	}

	.input-spinner-container .a-loading-spinner{
		display: block;

		div{
			width: 40px;
			height: 40px;
		}
	}

	#your-password .gigya-screen.portrait{
		padding-top: 0;
	}

	.gigya-screen-content div.gigya-screen.landscape{
		background-color: $color--white;
		margin-top: $spacing--medium;
		padding-top: $spacing--medium;
	}

	.gigya-screen.portrait.mobile{
		padding: 8px 16px;
	}

	.gigya-screen .gigya-label-text,
	.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item label,
	.gigya-screen .gigya-composite-control.gigya-composite-control-header,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input,
	.gigya-input-submit,
	.gigya-screen-caption,
	.gigya-composite-control.gigya-composite-control-link.o-gigya-user-avatar{
		font-family: 'Hurme Geometric Sans Regular', serif;
	}

	.gigya-screen .gigya-label-text,
	.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item label,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input{
		font-size: 18px;

		@include bp('max-width', $breakpoint--mobileLarge) {
			font-size: 16px !important;
		}
	}

	.gigya-screen .gigya-error-msg.o-gigya-error-msg{
		font-family: 'Hurme Geometric Sans Regular', serif;
		max-width: 350px;
		margin-left: 0;
		margin-right: 0;
		color: $color--maroonFlush;
		display: none;

		&.gigya-error-msg-active{
			display: block;
		}


		@include bp('max-width', $breakpoint--mobileLarge){
			font-size: 12px;
			line-height: normal;
			padding-bottom: 20px;
		}
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-submit{
		padding-bottom: 14px;

		&.o-gigya-upload-button{
			text-align: center;
		}
	}

	.gigya-screen-loader,
	.gigya-screen-dimmer{
		display: none;
	}

	.gigya-myPhoto-profile-box-wrapper{
		border-radius: 50%;
		border: 0;

		@include bp('max-width', $breakpoint--mobileLarge) {
			margin-top: 5px !important;
		}

		.gigya-myPhoto-profile-image{
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}

		&.gigya-myPhoto-status-uploaded .gigya-myPhoto-upload-button-wrap,
		&.gigya-myPhoto-status-upload span.gigya-myPhoto-upload-button{
			display: none;
		}
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item{
		display: inline-block;
	}

	.gigya-style-modern{
		margin-left: 0;

		@include bp('max-width', $breakpoint--mobileLarge) {
			margin: auto;
		}
	}

	.gigya-screen .gigya-layout-cell{
		width: 35%;

		@include bp('max-width', $breakpoint--mobileLarge) {
			width: 100%;
		}
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-header{
		font-weight: bold;
		padding: 6px;

		&.o-gigya-subtitle{
			padding-bottom: 24px;
		}

		&.o-gigya-heading{
			width: max-content;
			font-size: 26px;
			padding-bottom: 24px;
			margin-left: -8px;

			@include bp('max-width', $breakpoint--mobileLarge) {
				font-size: 18px;
				padding: 6px 0 8px 7px;
			}
		}

		&.o-gigya-separator{
			position: relative;
			width: 100%;

			&:before{
				content: '';
				width: 110px;
				border-top: solid 1px $color--black;
				position: absolute;
				z-index: 1;
				top: 14px;
				left: -30px;
			}

			&:after{
				content: '';
				width: 110px;
				border-top: solid 1px $color--black;
				position: absolute;
				z-index: 1;
				top: 14px;
				right: -30px;
			}

			@include bp('max-width', $breakpoint--mobileLarge){
				width: auto;

				&:before{
					left: 40px;
					top: 18px;
				}

				&:after{
					right: 40px;
					top: 18px;
				}
			}
		}
	}

	.gigya-screen.portrait.mobile input[type=text],
	.gigya-screen.portrait.mobile select,
	.gigya-screen.portrait.mobile input[type=password]{
		@include bp('max-width', $breakpoint--mobileLarge) {
			width: -webkit-fill-available !important;
			width: -moz-available !important;
		}
	}

	.gigya-screen.landscape .gigya-layout-row.with-divider{
		display: none;
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input:disabled{
		background: transparent;
		border: 0;
		box-shadow: none;
		padding: 0;
		margin-left: -4px;
		margin-bottom: 0;
		font-weight: 900;
		color: $color--offBlack;
	}

	.gigya-composite-control.gigya-spacer{
		@include bp('max-width', $breakpoint--mobileLarge) {
			display: none;
		}
	}

	input[type=radio].gigya-input-radio + label:after{
		border: 0.04em solid #FFFFFF;
		width: 0.7em;
		height: 0.7em;
		box-shadow: 0 0 0 0.1em #4e515e;
	}

	input[type=radio].gigya-input-radio:checked + label:after{
		background: #4e515e;
		box-shadow: 0 0 0 0.1em #4e515e;
	}

	input[type=radio].gigya-input-radio + label{
		padding-left: 20px;
	}

	input[type=checkbox].gigya-input-checkbox:checked + label.gigya-label:after{
		color: $color--white;
	}

	input[type=checkbox].gigya-input-checkbox:checked + label.gigya-label:before{
		background-color: #4e515e;
	}

	.cmp-title{
		@include bp('max-width', $breakpoint--tabletLandscape) {
			padding: 0 $spacing - 5;
		}
	}

	.spinner-container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

@media print {

	.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--0 {
		margin-left: 0%;
	}

	.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--7 {
		float: left;
		width: 70%;
	}

	.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--3 {
		float: left;
		width: 30%;
		margin-left: 70%;
	}

	.m-sticky-container.-sticky.-active {
		visibility: visible;
	}
}

