/**************************************************************************************************
*   Breakpoints
**************************************************************************************************/
$breakpoint--desktop: 1920;
$breakpoint--laptop: 1440;
$breakpoint--tabletLandscape: 1024;
$breakpoint--tabletPortrait: 768;
$breakpoint--mobileLarge: 767;
$breakpoint--mobileMedium: 480;
$breakpoint--mobileSmall: 375;
