/**************************************************************************************************
*    Color Palette
**************************************************************************************************/

// Standard
$color--black: #1C1C1C;
$color--blackAlt: #292929;
$color--white: #FFFFFF;

// Blacks
$color--offBlack: rgba(34, 51, 87, 0.8);
$color--faintBlack: rgba(34, 51, 87, 0.2);
$color--dark: #292929;
$color--inkBlack: #000000;

// Whites
$color--offWhite: #F4F4F4;

// Greys
$color--faintGrey: #EEEEEE;
$color--lightGrey: #E5E5E5;
$color--grey: #F5F5F5;
$color--dustyGrey: #999999;

/**
 * Palette
 * [Main]
 * Name that color (http://chir.ag/projects/name-that-color/)
 */
$color--green: #8CC63F;

/**
 * Solid
 */
$color--maroonFlush: #B4244A;
$color--brickRed: #C84152;
$color--mandy: #E74252;

/**
 * Secondary
 */
$color--maroonFlushAlt: #CF254A;
$color--froly: #EF4353;
$color--flamingo: #F15A38;

/**
 * Additional Colors
 */
$color--oceanGreen: #36B37F;
$color--orange: #FF9A1F;
$color--red: #FF5630;

