/**
 * Fonts - Hurme Geometric Sans
 */

/**************************************************************************************************
*    Hurme Geometric Sans Black
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans Black';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Black.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-Black.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans BlackOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans BlackOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-BlackOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-BlackOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-BlackOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans Bold
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Bold.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans BoldOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans BoldOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-BoldOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-BoldOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-BoldOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans SemiBold
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans SemiBold';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-SemiBold.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans SemiBoldOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans SemiBoldOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-SemiBoldOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-SemiBoldOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-SemiBoldOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans Regular
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Regular.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans RegularOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans RegularOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-RegularOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-RegularOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-RegularOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans Light
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans Light';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Light.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-Light.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans LightOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans LightOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-LightOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-LightOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-LightOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans Thin
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans Thin';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Thin.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans ThinOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans ThinOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-ThinOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-ThinOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-ThinOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans Hairline
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans Hairline';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Hairline.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-Hairline.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-Hairline.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**************************************************************************************************
*    Hurme Geometric Sans HairlineOblique
**************************************************************************************************/
@font-face {
	font-family: 'Hurme Geometric Sans HairlineOblique';
	font-style: normal;
	font-weight: normal;
	src: url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-HairlineOblique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/web/HurmeGeometricSans4-HairlineOblique.woff') format('woff'), /* Modern Browsers */
		url('../resources/fonts/HurmeGeometricSans/ttf/HurmeGeometricSans4-HairlineOblique.ttf') format('truetype'); /* Safari, Android, iOS */
	font-display: swap;
}

/**
 * General
 */

body {
	font-family: 'Hurme Geometric Sans Regular', arial, sans-serif;
}
