/**************************************************************************************************
*    Spacings
**************************************************************************************************/

$spacing: 20px;
$spacing--huge: $spacing * 6; // 120px
$spacing--large: $spacing * 4; // 80px
$spacing--medium-large: $spacing * 3; // 60px
$spacing--medium: $spacing * 2; // 40px
$spacing--small: $spacing / 2; // 10px
$spacing--tiny: $spacing / 4; // 5px
