/**************************************************************************************************
*   Pagination
**************************************************************************************************/
.m-default-pagination {
	position: relative;
	display: flex;
	margin: 0 0 $spacing--medium;
	flex-direction: row;
	align-self: center;

	@media print {
		display: none;
	}

	.m-default-pagination__prev,
	.m-default-pagination__next {
		width: 100%;

		a {
			width: 100%;
			background: $color--maroonFlush;
			transition: background 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

			&:hover {
				background: $color--mandy;
			}
		}
	}

	.a-button-link {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	.m-default-pagination__button {
		@include font-size(17);
		display: flex;
		padding: $spacing--small;
		color: $color--white;
		text-transform: uppercase;
		background: transparent;
		border: none;
		outline: 0;
		flex-direction: row;
		align-self: center;

		&:focus {
			outline: 0;
		}

		@include bp('max-width', $breakpoint--tabletLandscape) {
			padding: $spacing--small $spacing;
		}

		span {
			align-self: center;
		}
	}

	.m-default-pagination__prev {
		border-right: none;
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;

		a {
			border-bottom-left-radius: 25px;
			border-top-left-radius: 25px;
		}

		span:last-child {
			margin-left: $spacing--small;
		}
	}

	.m-default-pagination__next {
		border-left: none;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;

		a {
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
		}

		.m-default-pagination__button {
			margin-left: auto;
		}

		span:first-child {
			margin-right: $spacing--small;
		}
	}

	.m-default-pagination__prev.disabled,
	.m-default-pagination__next.disabled {
		.m-default-pagination__button {
			color: $color--dustyGrey;
			pointer-events: none;
			cursor: not-allowed;

			&:focus {
				outline: 0;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}


//IE 10 and 11
@media screen and (-ms-high-contrast: none) {

}

//Edge
@supports (-ms-user-select: none) {

}
