div[id^="component-wrap-"] .brightcove_player .brightcove-container {
	margin: 0 !important;
}

.afn-video-container {

	&.isRecipeHero {
		.vjs-poster:after {
			content: none;
		}
	}

	.brightcove-container {
		position: relative;
		width: 100%;
		max-width: 100%;
		background-color: rgba(0,0,0,.3);
	}

	.brightcove-container .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
		content: none;
	}

	.brightcove-container .vjs-big-play-button:focus,
	.brightcove-container .vjs-big-play-button:hover,
	.brightcove-container .vjs-progress-holder:focus:before {
		box-shadow: none;
	}

	.vjs-poster {
		position: relative;
		width: 100%;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.3);
			content: '';
		}
	}

	//By default
	.brightcove-container {
		.vjs-control-bar {
			display: none;
		}

		.vjs-big-play-button {
			display: flex;
		}
	}

	//When playing
	.brightcove-container .vjs-playing {

		&.vjs-user-active .vjs-control-bar {
			display: flex;
		}

		.vjs-big-play-button {
			display: none;
		}
	}

	//When paused
	.brightcove-container .vjs-paused {

		&.vjs-has-started:not(.vjs-ended) .vjs-control-bar {
			display: flex;
		}

		.vjs-big-play-button {
			display: flex;
		}
	}

	//When ended
	.brightcove-container .vjs-ended {

		.vjs-control-bar {
			display: none;
		}

		.vjs-big-play-button {
			display: flex;
		}

		.vjs-poster {
			display: block;
		}
	}

	//Play Button
	.brightcove-container .vjs-big-play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		cursor: pointer;
		background-color: transparent;
		transform: translate(-50%, -50%);

		&:focus,
		&:active {
			outline: 0;
		}
	}

	.brightcove-container .vjs-big-play-button:before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin: 0;
		background: url('../resources/images/common/video-play-icon.svg');
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		transform: translate(-50%, -50%);
	}

	@include bp('max-width', $breakpoint--tabletPortrait) {
		.brightcove-container .vjs-big-play-button:before {
			width: 80px;
			height: 80px;
		}
	}

	//Title Gradient
	.video-js .vjs-dock-text {
		padding: 1em 25% 3em 1em;
		font-family: 'Hurme Geometric Sans Regular', serif;
		background: rgb(28,28,28);
		background: -moz-linear-gradient(0deg, rgba(28,28,28,0) 10%, rgba(28,28,28,0.1) 21%, rgba(28,28,28,0.5) 40%, rgba(28,28,28,0.7) 64%, rgba(28,28,28,0.9) 89%);
		background: -webkit-linear-gradient(0deg, rgba(28,28,28,0) 10%, rgba(28,28,28,0.1) 21%, rgba(28,28,28,0.5) 40%, rgba(28,28,28,0.7) 64%, rgba(28,28,28,0.9) 89%);
		background: linear-gradient(0deg, rgba(28,28,28,0) 10%, rgba(28,28,28,0.1) 21%, rgba(28,28,28,0.5) 40%, rgba(28,28,28,0.7) 64%, rgba(28,28,28,0.9) 89%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1c1c",endColorstr="#1c1c1c",GradientType=1);
	}
}

.brightcove_player {
	position: relative;
	margin: 0;

	//Video Title
	.m-video__title {
		position: absolute;
		top: 0;
		left: 0;
		width: 65%;
		visibility: hidden;
		transition: visibility 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

		&.-active {
			visibility: visible;
		}

		.cmp-title__text {
			width: 100%;
			padding: $spacing;
			margin: 0;
			color: $color--white;

			@include bp('max-width', $breakpoint--mobileLarge) {
				@include font-size(20);
				padding: $spacing--small;
			}
		}
	}

	.a-category-tag {
		position: absolute;
		top: 0;
		right: 0;
		padding: $spacing;
		visibility: hidden;
		transition: visibility 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

		&.-active {
			visibility: visible;
		}
	}

	//Close Button
	.m-video__close {
		position: absolute;
		top: 10px;
		right: 8px;
		visibility: hidden;
		transition: visibility 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

		&.-active {
			visibility: visible;
		}

		button {
			background: transparent;
			border: none;
			outline: 0;
			transition: background 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

			&:focus {
				outline: 0;
			}
		}
	}

	// .m-video__close.-fullscreen {
	// 	position: fixed;
	// 	top: 100px;
	// 	right: 100px;
	// 	z-index: 9999;
	// }
}
