/**************************************************************************************************
*  View Tabs
**************************************************************************************************/
.m-view-tabs {
	display: flex;
	margin-bottom: $spacing;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;

	@include bp('max-width', $breakpoint--mobileLarge) {
		display: none;
	}

	.m-view-tabs__button {
		color: $color--white;
		text-decoration: none;
		background: $color--dustyGrey;
		border: none;
		outline: 0;
		transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

		&:focus {
			outline: 0;
		}

		&.active {
			background: $color--maroonFlush;
		}

		&:hover {
			background: $color--mandy;
		}

		&:first-child {
			margin-right: $spacing--small;
			border-right: 1px solid $color--white;
		}

		&.a-button.-icon {
			width: 40px;
			height: 40px;
		}

		span {
			@include font-size(22);

			&:before {
				@include font-size(22);
			}
		}
	}
}
