/**************************************************************************************************
*   Animated
**************************************************************************************************/
.a-animated {
	&.-zoom {
		display: block;
		overflow: hidden;

		&:hover {
			img, .a-bg-img {
				transform: scale(1.04);
			}
		}

		img,
		.a-bg-img {
			width: 100%;
			transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}

	}
}
